name: Main CI/CD Pipeline
on: [push]
env:
  SECRETS_CONTEXT: ${{ toJson(secrets) }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: 'Validate DAGs'
        uses: ./
        with:
          requirements-file: project/requirements.txt
          dags-path: project/dags
          dags-test-folder: project/tests